In [2]:
import pandas as pd
import numpy as np
#import graphviz
#import sframe

In [8]:
import graphviz

ImportError: No module named graphviz

In [1]:
import graphlab

In [3]:
data = pd.read_csv('lending-club-data.csv')

C:\Users\Uma Maheswara Rao\Anaconda2\envs\gl-env\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
lonas = graphlab.SFrame('lending-club-data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to maheshmeleti350@gmail.com and will expire on June 04, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\UMAMAH~1\AppData\Local\Temp\graphlab_server_1532318026.log.0

In [5]:
data.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.1435,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.3932,20161201T000000,1,1,1

In [6]:
lonas.head(2)

Columns:
	id	int
	member_id	int
	loan_amnt	int
	funded_amnt	int
	funded_amnt_inv	int
	term	str
	int_rate	float
	installment	float
	grade	str
	sub_grade	str
	emp_title	str
	emp_length	str
	home_ownership	str
	annual_inc	int
	is_inc_v	str
	issue_d	str
	loan_status	str
	pymnt_plan	str
	url	str
	desc	str
	purpose	str
	title	str
	zip_code	str
	addr_state	str
	dti	float
	delinq_2yrs	int
	earliest_cr_line	str
	inq_last_6mths	int
	mths_since_last_delinq	int
	mths_since_last_record	int
	open_acc	int
	pub_rec	int
	revol_bal	int
	revol_util	float
	total_acc	int
	initial_list_status	str
	out_prncp	float
	out_prncp_inv	float
	total_pymnt	float
	total_pymnt_inv	float
	total_rec_prncp	float
	total_rec_int	float
	total_rec_late_fee	float
	recoveries	float
	collection_recovery_fee	float
	last_pymnt_d	str
	last_pymnt_amnt	float
	next_pymnt_d	str
	last_credit_pull_d	str
	collections_12_mths_ex_med	int
	mths_since_last_major_derog	str
	policy_code	int
	not_compliant	int
	status	str
	inactive_loans	int
	bad_loans	int
	emp_length_num	int
	grade_num	int
	sub_grade_num	float
	delinq_2yrs_zero	int
	pub_rec_zero	int
	collections_12_mths_zero	int
	short_emp	int
	payment_inc_ratio	float
	final_d	str
	last_delinq_none	int
	last_record_none	int
	last_major_derog_none	int

Rows: 2

Data:
+---------+-----------+-----------+-------------+-----------------+------------+
|    id   | member_id | loan_amnt | funded_amnt | funded_amnt_inv |    term    |
+---------+-----------+-----------+-------------+-----------------+------------+
| 1077501 |  1296599  |    5000   |     5000    |       4975      |  36 months |
| 1077430 |  1314167  |    2500   |     2500    |       2500      |  60 months |
+---------+-----------+-----------+-------------+-----------------+------------+
+----------+-------------+-------+-----------+-----------+------------+----------------+
| int_rate | installment | grade | sub_grade | emp_title | emp_length | home_ownership |
+----------+-------------+-------+-----------+-----------+------------+----------------+
|  10.65   |    162.87   |   B   |     B2    |           | 10+ years  |      RENT      |
|  15.27   |    59.83    |   C   |     C4    |   Ryder   |  < 1 year  |      RENT      |
+----------+-------------+-------+-----------+-----------+------------+----------------+
+------------+-----------------+-----------------+-------------+------------+
| annual_inc |     is_inc_v    |     issue_d     | loan_status | pymnt_plan |
+------------+-----------------+-----------------+-------------+------------+
|   24000    |     Verified    | 20111201T000000 |  Fully Paid |     n      |
|   30000    | Source Verified | 20111201T000000 | Charged Off |     n      |
+------------+-----------------+-----------------+-------------+------------+
+-------------------------------+-------------------------------+-----+
|              url              |              desc             | ... |
+-------------------------------+-------------------------------+-----+
| https://www.lendingclub.co... |   Borrower added on 12/22/... | ... |
| https://www.lendingclub.co... |   Borrower added on 12/22/... | ... |
+-------------------------------+-------------------------------+-----+
[2 rows x 68 columns]

In [7]:
type(lonas)

graphlab.data_structures.sframe.SFrame